<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort By
    <i class="fa fa-sort"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "Priority: Low to Urgent", sort_by_priority_tasks_path(params[:status], "asc") %></li>
    <li>
      <%= link_to "Priority: Urgent to Low", sort_by_priority_tasks_path(params[:status], "desc") %>
    </li>
    <li>
      <%= link_to "Deadline: near", sort_by_deadline_tasks_path(params[:status], "asc") %>
    </li>
    <li>
      <%= link_to "Deadline: far", sort_by_deadline_tasks_path(params[:status], "desc") %>
    </li>
  </ul>
</div>

<table class="table table-hover">
  <thead class="tableHeading">
  <tr>
    <td class="head">
      Task Name
    </td>
    <td class="head">
      Task Description
    </td>
    <td class="head">
      Priority
    </td>
    <td class="head">
      Deadline
    </td>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
      <tr data-link="<%= show_path(task.id) %>">
        <td class="inside">
          <%= task.title %>
        </td>
        <td class="inside">
          <%= task.description %>
        </td>
        <td class="inside">
          <%= task.priority %>
        </td>
        <td class="inside">
          <%= datePrint(task.deadline) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @tasks, :renderer => PaginationListLinkRenderer %>

