<!DOCTYPE html>
<html>
<head>
  <%= yield(:title) %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-pills">
  <%#	<li role="presentation" class="active"><%= link_to "Active Task" , show_path %><%#</li> %>
  <li role="presentation"><%=	link_to "Completed Task" , '/tasks' %></li>
  <li class="pull-right" ><%=link_to "Create task", new_tasks_path() %></li>
</ul>

<%= yield %>


</body>
</html>
